<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jesusrojo.composedemo">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeDemo.NoActionBar">

        <activity
            android:name=".listmenuactivity.MainListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".state.examples.HelloCodelabActivity"/>
        <activity android:name=".state.examples.HelloCodeLabActivityWithViewModel"/>
        <activity android:name=".state.examples.HelloActivityCompose"/>
        <activity android:name=".basic.BasicMainActivity"/>
        <activity android:name=".state.examples.start.TodoActivityStart"/>
        <activity android:name=".state.todo.TodoActivity"/>
        <activity android:name=".uidata.presentation.ui.UiDataActivity"/>
        <activity android:name=".recyclersimple.RecyclerSimpleActivity"/>
        <activity android:name=".topappbar.TopAppBarActivity"/>
    </application>

</manifest>